@import "_main.scss";

// // templates
// @import "_header.scss";
// @import "_account_info.scss";
// @import "_box_info.scss";
// @import "_breadcrumbs.scss";
// @import "_footer.scss";

// // pages
// @import "_homepage.scss";
// @import "_courses.scss";
// @import "_single.scss";
// @import "_page.scss";

// // components
// @import "_posts.scss";
// @import "_five_principles.scss";
// @import "_button.scss";

// // miscellaneous
// @import "_javascript.scss";
// @import "_form.scss";
// @import "_shortcodes.scss";

.emergency__main {
  height: 100vh;

  display: flex;
  flex-direction: column;
  width: 100%;

  .emergency__main__top {
    position: relative;
    display: flex;
    // height: 100%;
  }

  .emergency__main__bottom {
    display: flex;
    justify-content: space-between;
  }
}

.emergency__main__bottom__item__container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  cursor: pointer;

  .emergency__main__bottom__item--title {
    color: black;
  }

  // .emergency__main__bottom__item:hover {
  //   box-shadow: -4px 4px cyan;
  // }

  .emergency__main__bottom__item:nth-child(1) {
    // background: -moz-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
    // background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,46,182,1)), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
    // background: -webkit-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
    // background: -o-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
    // background: -ms-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ie10+ */
    // background: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* w3c */
    
    flex: 1;
  }

  .emergency__main__bottom__item:nth-child(2) {
    flex: 1;
  }

  .emergency__main__bottom__item:nth-child(3) {
    flex: 1;
  }
}

.emergency__main__bottom__item__container:hover {
  // background: -moz-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
  // background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,46,182,1)), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
  // background: -webkit-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
  // background: -o-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
  // background: -ms-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ie10+ */
  // background: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* w3c */
  background: cyan;
  color: white;
}

.emergency__main__bottom__item__container--selected {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  cursor: pointer;
}

.emergency__main__bottom__item__container--selected:hover {
  box-shadow: -5px 5px 0px 0px cyan;
}

// MEDITATE
.emergency__main__top__left {
  position: relative;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  background: -moz-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,46,182,1)), color-stop(100%, rgba(227,152,2,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(255,46,182,1) 0%, rgba(227,152,2,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E39802', endColorstr='#FF2EB6',GradientType=1 ); /* ie6-9 */

  .emergency__main__top__left--container {

    .emergency__main__top__left--title {
      padding: 2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 8rem;
      color: white;
      text-shadow: 0px 0px cyan;
      transition: text-shadow 10s;
    }
  }
}

.emergency__main__top__left:hover .emergency__main__top__left--title {
  text-shadow: -5px 5px cyan;
}

// DO YOU NEED?
.emergency__main__top__right {
  display: flex;
  flex-direction: column;

  border-left: 4px solid white;
  width: 200px;

  .emergency__main__top__right__item {
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: 4px solid white;


    .emergency__main__top__right__item--title {
      margin: 0!important;
      padding: 2rem;
    } 

  }
}

.emergency__footer {

}

.meditation__timer__container {
  cursor: pointer;
  position: absolute;
  left: 0.9rem;
  bottom: 0.9rem;
  padding: 1rem;
  background: white;
  // border: 4px solid black;
  box-shadow: -5px 5px 0px 0px cyan;
  transition: box-shadow .2s;

  .meditation__timer__container--timer {
    font-size: 0.8rem;
  }
}

.meditation__timer__container:hover { 
  box-shadow: -7px 7px 0px 0px cyan;
}

.meditation__what__is__container {
  cursor: pointer;
  position: absolute;
  right: 0.9rem;
  bottom: 0.9rem;
  padding: 1rem;
  background: white;
  // border: 4px solid black;
  box-shadow: -5px 5px 0px 0px cyan;
  transition: box-shadow .2s;

  .meditation__what__is__container--title {
    font-size: 0.8rem;
  }
}

.meditation__what__is__container:hover { 
  box-shadow: -7px 7px 0px 0px cyan;
}


#heres__what__happened {
  border: 4px solid black;
}
#heres__what__wont__work {

}
#heres__what__will {

}

#heres__what__happened__response {
  display: block;
}
#heres__what__wont__work__response {
  display: none;
}
#heres__what__will__response {
  display: none;
}

.emergency__main__bottom__responses {
  .emergency__main__bottom__responses__item {
    padding: 2rem;
    width: 600px;

    .emergency__main__bottom__responses__item--title {
      
    }
  }
}
