<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    <!-- MAIN -->
    <main class="emergency__main">

      <!-- TOP -->
      <div class="emergency__main__top">
        <!-- MEDITATE -->
        <div id="meditate" class="emergency__main__top__left">
          <div class="emergency__main__top__left--container">
            <h1 class="emergency__main__top__left--title">
              Meditate
            </h1>
          </div>
          <div class="meditation__timer__container">
            <div class="meditation__timer__container--timer">
              0:00
            </div>
          </div>
          <div class="meditation__what__is__container">
            <div class="meditation__what__is__container--title">
              What is meditation?
            </div>
          </div>
        </div>

        <!-- RIGHT SIDE BAR -->
        <div class="emergency__main__top__right">
          <div id="someone__to__talk__to" class="emergency__main__top__right__item">
            <h3 class="emergency__main__top__right__item--title">
              Need someone to talk to?
            </h3>
          </div>
          <div id="need__a__community__to__join" class="emergency__main__top__right__item">
            <h3 class="emergency__main__top__right__item--title">
              Need a community to join?
            </h3>
          </div>
          <div id="mental__health__services" class="emergency__main__top__right__item">
            <h3 class="emergency__main__top__right__item--title">
              Mental health resources.
            </h3>
          </div>
        </div>
      </div>

      <!-- BOTTOM -->
      <div class="emergency__main__bottom">
        <div id="heres__what__happened" class="emergency__main__bottom__item--selected">
          <h2 class="emergency__main__bottom__item--title">
            Here's What Happened
          </h2>
        </div>
        <div id="heres__what__wont__work" class="emergency__main__bottom__item">
          <h2 class="emergency__main__bottom__item--title">
            Here's What Won't Work
          </h2>
        </div>
        <div id="heres__what__will" class="emergency__main__bottom__item">
          <h2 class="emergency__main__bottom__item--title">
            Here's What Will
          </h2>
        </div>
      </div>

      <div class="emergency__main__bottom__responses">
        <div id="heres__what__happened__response" class="emergency__main__bottom__responses__item">
          <h2 class="emergency__main__bottom__responses__item--title">
            Here's What Happened
          </h2>
          <p>You lost balance of your mind.</p>
          <p>Maybe you're stressed. Maybe you've been feeling depressed. Perhaps you simply didn't get enough sleep last night.</p>
          <p>For whatever reason, you lost balance which is why you're currently struggling to maintain control over your mind.</p>

        </div>
        <div id="heres__what__wont__work__response" class="emergency__main__bottom__responses__item">
          <h2 class="emergency__main__bottom__responses__item--title">
            Here's What Won't Work
          </h2>
        </div>
        <div id="heres__what__will__response" class="emergency__main__bottom__responses__item">
          <h2 class="emergency__main__bottom__responses__item--title">
            Here's What Will
          </h2>
        </div>
  
      </div>

      <!-- FOOTER -->
      <footer class="emergency__footer">
        <div class="emergency__footer__social">
          NeverFap Deluxe is a comprehensive porn addiction recovery platform.
        </div>
      </footer>
    
    </main>

  </body>

  <script>

    console.log('cake')
    var meditate = document.querySelector('#meditate');

    // var someone__to__talk__to = document.querySelector('#someone__to__talk__to');
    // var need__a__community__to__join = document.querySelector('#need__a__community__to__join');
    // var mental__health__services = document.querySelector('#mental__health__services');

    var heres__what__happened = document.querySelector('#heres__what__happened');
    var heres__what__wont__work = document.querySelector('#heres__what__wont__work');
    var heres__what__will = document.querySelector('#heres__what__will');

    var heres__what__happened__response = document.querySelector('#heres__what__happened__response');
    var heres__what__wont__work__response = document.querySelector('#heres__what__wont__work__response');
    var heres__what__will__response = document.querySelector('#heres__what__will__response');

    meditate.onclick = function(event) {

    };

    // someone__to__talk__to.onclick = function(event) {

    // };
    // need__a__community__to__join.onclick = function(event) {

    // };
    // mental__health__services.onclick = function(event) {

    // };

    heres__what__happened.onclick = function(event) {
      heres__what__happened.classList.remove('emergency__main__bottom__item');
      heres__what__wont__work.classList.remove('emergency__main__bottom__item--selected');
      heres__what__will.classList.remove('emergency__main__bottom__item--selected');
      
      heres__what__happened.classList.add('emergency__main__bottom__item--selected');
      heres__what__wont__work.classList.add('emergency__main__bottom__item');
      heres__what__will.classList.add('emergency__main__bottom__item');

      heres__what__happened__response.style.display = 'block';
      heres__what__wont__work__response.style.display = 'none';
      heres__what__will__response.style.display = 'none';
    };
    heres__what__wont__work.onclick = function(event) {
      heres__what__happened.classList.remove('emergency__main__bottom__item--selected');
      heres__what__wont__work.classList.remove('emergency__main__bottom__item');
      heres__what__will.classList.remove('emergency__main__bottom__item--selected');
      
      heres__what__happened.classList.add('emergency__main__bottom__item');
      heres__what__wont__work.classList.add('emergency__main__bottom__item--selected');
      heres__what__will.classList.add('emergency__main__bottom__item');

      heres__what__happened__response.style.display = 'none';
      heres__what__wont__work__response.style.display = 'block';
      heres__what__will__response.style.display = 'none';
    };
    heres__what__will.onclick = function(event) {
      heres__what__happened.classList.remove('emergency__main__bottom__item--selected');
      heres__what__wont__work.classList.remove('emergency__main__bottom__item--selected');
      heres__what__will.classList.remove('emergency__main__bottom__item');
      
      heres__what__happened.classList.add('emergency__main__bottom__item');
      heres__what__wont__work.classList.add('emergency__main__bottom__item');
      heres__what__will.classList.add('emergency__main__bottom__item--selected');

      heres__what__happened__response.style.display = 'none';
      heres__what__wont__work__response.style.display = 'none';
      heres__what__will__response.style.display = 'block';
    };
  </script>

</html>