<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{/*  {{ partial "links/accountInfo.html" . }}  */}}
    <div class="homepage__content">
      <div class="homepage__hero">
        <h1 class="homepage__hero__title">NeverFap <span class="deluxe__font">Deluxe</span></h1>
        <h2 class="homepage__hero__title__secondary">The Porn Addiction Recovery Process.</h2>
      </div>

      {{ partial "links/accountInfo.html" . }}

      <div class="homepage__section">
        <p style="margin-top: 2.5rem;">My name is Julius and I'm a recovered porn addict. <i class="em em-blush"></i></p>
        <ul class="homepage__recovered__porn__addict__list">
          <span><li class="homepage__recovered__porn__addict__item__lead">I no longer crave porn. <i class="em em-white_check_mark"></i></li></span>
          <span><li class="homepage__recovered__porn__addict__item">I no longer watch porn.</li></span>
          <span><li class="homepage__recovered__porn__addict__item">I don't even think about porn, at all.</li></span>
          <div class="homepage__recovered__porn__addict__spacer"></div>
          <span><li class="homepage__recovered__porn__addict__item__lead">I no longer obsess over women in public. <i class="em em-white_check_mark"></i></li></span>
          <span><li class="homepage__recovered__porn__addict__item">I no longer view women any differently to men.</li></span>
          <span><li class="homepage__recovered__porn__addict__item">I no longer judge women in any capacity.</li></span>

          <div class="homepage__recovered__porn__addict__spacer"></div>
          <span><li class="homepage__recovered__porn__addict__item__lead">I have control over my mind and my thoughts. <i class="em em-white_check_mark"></i></li></span>
          <span><li class="homepage__recovered__porn__addict__item">I'm conscious of my feelings and emotions.</li></span>
          <span><li class="homepage__recovered__porn__addict__item">I'm comfortable with my emotions, both positive and negative.</li></span>

          <div class="homepage__recovered__porn__addict__spacer"></div>
          <span><li class="homepage__recovered__porn__addict__item__lead">I accept myself for who I am. <i class="em em-white_check_mark"></i></li></span>
          <span><li class="homepage__recovered__porn__addict__item">I'm happy, motivated, confident and ambitious.</li></span>
          <span><li class="homepage__recovered__porn__addict__item">I'm unafraid of being vulnerable.</li></span>
        </ul>
      </div>

      <div class="homepage__hero">
        <h1 class="homepage__hero__title">Here's what I do.</h1>
        <h2 class="homepage__hero__title__secondary">I explain step-by-step exactly how to give up porn.</h2>
      </div>

    </div>
    {{ partial "footer.html" . }}
  </body>
  <script src='/js/homepage.js'></script>
</html>